* {
	outline: 1px solid red !important;	/* for debugging */
}

.goal {
	/* text-align: center; */			/* 왜 goal 을 중앙정렬 했는데 밑에 sidebar 내부도 중앙정렬 되는 거지 ㅜㅜ */
}


.card_wrapper {
	margin: 10px;
	max-width: 220px;
}

.card_row {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.first {
	margin-left: auto;
	margin-top: auto;
}

.last {
	margin-right: auto;
	margin-bottom: auto;
}


.empty {
	width: 220px;
}