html {
font-family:'Apple SD Gothic Neo',나눔고딕,NanumGothic,'맑은 고딕','Malgun Gothic',돋움,dotum,굴림,gulim,applegothic,sans-serif;
}

body {
margin:0;
}

ul {
list-style:none;
margin:0;
padding:0;
}

a {
text-decoration:none;
}

header {
z-index: 1;
border:1px solid gray;
height:80px;
position:absolute;
top :0;
width:100%;
}

#gnb {
margin-left:50px;
position:relative;
width:215px;
}

#gnb > li {
float:left;
}

#wrap {
1height:1900px;
position:static;
width:100%;
}

#header {

height:500px;
width:100%;
}





#logo {
padding:25px 10px;
}

#logo img {
margin-bottom:15px;
}

.header_menu {
height:80px;
}

.header_menu a {
-webkit-font-smoothing:antialiased;
color:#fff;
font:inherit;
font-size:100%;
line-height:80px;
padding:25px 10px;
}

#logo .highlight {
background-color:#ff382e;
height:5px;
left:0;
position:absolute;
width:50px;
}

#top_image {
background-image:url(https://d12hfz37g51hrt.cloudfront.net/s/n_b/mx0l4f-9f64cd856227b7c06f6c.jpg?1411561786);	
border:1px solid gray;
height:500px;
width:100%;
}

#container {
background-color:#e5e5e5;
border:1px solid gray;
height:1280px;
position:relative;
width:100%;
}

.section {
height:690px;
margin:50px auto 0;
position:relative;
width:1200px;
}

.title a {
-webkit-font-smoothing:antialiased;
color:#000;
font-size:20px;
font-weight:700;
margin:10px;
}

.see_all {
font-size:14px;
position:absolute;
right:10px;
top:0;
}

.see_all a {
color:#ff382e;
}

#side_menu {
background-color:#FFF;
border-radius:5px;
float:left;
height:650px;
margin:10px;
width:220px;
}

.card {
background-color:#FFF;
border-radius:5px;
float:left;
height:315px;
left:240px;
margin:10px;
width:220px;
}

.genre_card {
background-color:#FFF;
border-radius:5px;
float:left;
height:150px;
margin:10px;
width:220px;
}

.genre_text {
color:#FFF;
display:block;
font-size:18px;
margin-top:65px;
text-align:center;
text-shadow:2px 2px #000;
width:100%;
}

footer {
border:1px solid gray;
height:180px;
position:relative;
width:100%;
}