* {
	outline: 1px solid red !important;	/* for debugging */
}

.card_row {
/* 	visibility: hidden; */
	display: -webkit-flex;
	display: flex;
}

.card_wrapper {
	margin: 10px;
	max-width: 220px;
}

.first {
	margin-left: auto;
}

.last {
	margin-right: auto;
}

.empty {
	width: 220px;
}

.no_result {
	text-align: center;
}