<div class="card_wrap size_1x1 ">
    <div class="card_shadow"></div>
    <div class="poster_container">
        <div class ="expected_rate_container">
            <span class="my_rate">
                <img class="small_profile" src="http://placehold.it/25x25" />
            </span>
            <span class="rating"><%= score %></span>
        </div>
        <img class="poster" src="<%= imageLink %>" alt=""/>
        <div class="top_gradation"></div>
        <div class="hover_container">
            <div class="black_bg"></div>
            <div class="hover_contents">
                <div class="movie_title">
                    <%= title %></div>
                <div class="star_rate">
                    <div class="star_container">
                        <span class="star half left" data-value=0.5></span>
                        <span class="star half right" data-value=1></span>
                        <span class="star half left" data-value=1.5></span>
                        <span class="star half right" data-value=2></span>
                        <span class="star half left" data-value=2.5></span>
                        <span class="star half right" data-value=3></span>
                        <span class="star half left" data-value=3.5></span>
                        <span class="star half right" data-value=4></span>
                        <span class="star half left" data-value=4.5></span>
                        <span class="star half right" data-value=5></span>
                    </div>
                </div>
                <div class="wish_btn_container">
                    <div class="wish">
                        <span class="icon"></span>
                        <span class="text">보고싶어요</span>
                    </div>
                    <div class="no_wish">
                        <span class="icon"></span>
                        <span class="text">그만 볼래요</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="reason"></div>
</div>
