<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>INSERT PAGE</title>
</head>
<body>
    <h1>Insert Page</h1>
    <hr/>

    <form method="post">
        <fieldset>
            <legend>INSERT DATA</legend>
            <table>
                <tr>
                    <td><label >Title</label></td>
                    <td><input type="text" name="title"/></td>
                </tr>
                <tr>
                    <td><label >Img_URL</label></td>
                    <td><input type="text" name="img_url"/></td>
                </tr>
            </table>
            <input type="submit"/>

        </fieldset>
    </form>
</body>
</html>