<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <!-- <link rel ="stylesheet" type="text/css" href="reset.css"/> -->
    <link rel ="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel ="stylesheet" type="text/css" href="css/login.css"/>

  </head>
<body>
	<div id="wrap">
		<div id="comment">
			<h1>로그인</h1>
			<h2>정을 나눈 그대여! <p>아래 로긴 고고</p>
			<h3>회원가입 원함? 그렇다면<a href="/signup"> 회원가입은 이쪽</a></h3>
		</div>
	<div id="article">
		<form method="post" action="/login">
			<div>
				<p class="textinput"><input type="email" name="email" size="20" maxlenght="50" placeholder="E-mail" size="30" type="email"></p>
				<p class="guide">가입했던 이메일로</p>
			</div>
			<div>
				<p class="textinput"><input type="password" name="password" size="20" maxlenght="50" placeholder="Password" size="30" type="password"></p>
				<p class="guide">알파벳,숫자 혼합된 너의 비번</p>
			</div>
			<p><input type="submit" name="" /></p>
		</form>
	</div>
	</div>
</body>
</html>