<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/css-reset.css" meida="screen">
	<link rel="stylesheet" type="text/css" href="css/main.css" meida="screen">
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>
	<header>
		<ul id="gnb">
			<li id="logo">
				<a href=""><img src="https://d12hfz37g51hrt.cloudfront.net/assets/bi/icon_40-c857765f58065997922df8262ca7bf07.png" width="30" height="30"></a>
				<span class="highlight"><span>
			</li>				
			<li class="header_menu">
				<a href="recommendation.html">추천영화</a>
			<span class="highlight"></span>
			</li>
			<li class="header_menu">
				<a href="evaluation.html">평가늘리기</a>
				<span class="highlight"></span>
			</li>
			<li class = "profile"><a href="#">프로필</a></li>
       		 <ul id="Layer1" class="profile_layer" style= "display:none">
     	 	 	<li class="movie_container"><a href="#">영화보관함</li>
      	 		<li class="settings"><a href="#">설정</li>
        		<li class="logout"><a href="#">로그아웃</li>
        	</ul>
		</ul>
		




		</div>
	</header>

	<div id="wrap">
		<div id="top">
			<div id="top_image">	<!--메인 위쪽 이미지 부분-->
				<ul>
					<li class = "img idx1" style="height: 500px;  background-image: url(https://d12hfz37g51hrt.cloudfront.net/s/n_b/mrql0a-b0178a6c902e3ed56ce8.jpg?1413186354);"></li>
					<li class = "img idx1" style="height: 500px;  display: none; background-image: url(https://d12hfz37g51hrt.cloudfront.net/s/n_b/mjvntm-945087e9e2d7a9960a96.jpg?1411964803);"></li>
					<li class = "img idx1" style="height: 500px;  display: none; background-image: url(https://d12hfz37g51hrt.cloudfront.net/s/n_b/mxfcdc-65e305c9b4e4c78e0ba1.jpg?1370681845);"></li>
					<li class = "img idx1" style="height: 500px;  display: none; background-image: url(https://d12hfz37g51hrt.cloudfront.net/s/n_b/m0u13w-174131f966b4516a0c8c.jpg?1370680594);"></li>
					<li class = "img idx1" style="height: 500px;  display: none; background-image: url(https://d12hfz37g51hrt.cloudfront.net/s/n_b/mx0l4f-9f64cd856227b7c06f6c.jpg?1411561786);"></li>
				</ul>
			</div>
			<div id = 'search'>
				<div id = 'search_bar'>
					<form method="get" action="/search">
						<fieldset>
							<legend class="blind">검색</legend>
							<label for="query" class="search"><input type="text" id="search_query" title="검색어 입력"  name="query" style="ime-mode:inactive;" autocomplete=off placeholder="영화 뭐 봤슈."></label>
							<span class="btn_sm"><button type="submit" title="검색"><span>검색</span></button></span>
							<div class="result_wrap">
								<ul class="result_container">
								</ul>
							</div>
						</fieldset>
					</form>
				</div>
  			</div>
		</div>
		<div id="container">
			<div class="section"> 	<!--평가 늘리기 부분-->
				<div class="title"><a href="">BOX OFFICE</a></div>
				<div class="see_all"><a href="">모두보기</a></div>
			<div id ="card_container">	
				<div class="card_wrap size_1x1 ">
       				<div class="card_shadow"></div>
        			<div class="poster_container">
            			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/b/1fc27f1b05aafaa33bd3.jpg?1417466843" alt=""/>
            			<div class="top_gradation"></div>
            			<div class="hover_container">
                			<div class="black_bg"></div>
            				<div class="hover_contents">
                    			<div class="btn log_container">
                        			<span class="text">내역보기</span>
                        		</div>
                        		<div class="btn evaluate_container">
                        			<span class="text"><a href="/evaluate">평가하기</a></span>
                        		</div>
                			</div>
            			</div>
        			</div>
    			</div>

    			<div class="card_wrap size_1x1 ">
       				<div class="card_shadow"></div>
        			<div class="poster_container">
            			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/b/749e417a1ef3d8d292b5.jpg?1417468890" alt=""/>
            			<div class="top_gradation"></div>
            			<div class="hover_container">
                			<div class="black_bg">
	                			<div class="hover_contents">    

	                    			<!-- <div class="btn log_container">
                        				<span class="text">내역보기</span>
                        			</div> -->
                        			<div class="btn evaluate_container">
                        				<span class="text">평가하기</span>
                        			</div>
	                			</div>
                			</div>
            			</div>
        			</div>
    			</div>

    			<div class="card_wrap size_1x1 ">
       				<div class="card_shadow"></div>
        			<div class="poster_container">
            			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/b/3d3d6bf968a60889d5bd.jpg?1417468876" alt=""/>
            			<div class="top_gradation"></div>
            			<div class="hover_container">
                			<div class="black_bg"></div>
                			<div class="hover_contents">    
                				<div class="btn log_container">
                        			<span class="text">내역보기</span>
                        		</div>
                        		<div class="btn evaluate_container">
                        			<span class="text">평가하기</span>
                        		</div>
                			</div>
            			</div>
        			</div>
    			</div>

    			<div class="card_wrap size_1x1 ">
       				<div class="card_shadow"></div>
        			<div class="poster_container">
            			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/b/84422354a95864f8b142.jpg?1417468531" alt=""/>
            			<div class="top_gradation"></div>
            			<div class="hover_container">
                			<div class="black_bg"></div>
                			<div class="hover_contents">    
                				<div class="btn log_container">
                        			<span class="text">내역보기</span>
                        		</div>
                        		<div class="btn evaluate_container">
                        			<span class="text">평가하기</span>
                        		</div>
                			</div>
            			</div>
        			</div>
    			</div>
			</div>
				<!-- <div id="eval_container">
					<div id="eval_card_container">
						<div class="card">
							<div class="post_wrapper">
								<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/b/1fc27f1b05aafaa33bd3.jpg?1417466843">
								<div class="eval_button">
									<span>평가하기</span>
								</div>
								<div class="see_button">
									내역보기
								</div>
							</div>
							
						</div>
						<div class="card">
							<div class="post_wrapper">
								<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/b/749e417a1ef3d8d292b5.jpg?1417468890" >
							</div>
						</div>
						<div class="card">
							<div class="post_wrapper">
								<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/b/3d3d6bf968a60889d5bd.jpg?1417468876" width="100%">
							</div>
						</div>
						<div class="card">
							<div class="post_wrapper">
								<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/b/84422354a95864f8b142.jpg?1417468531" width="100%">
							</div>
						</div>
					</div> -->
				</div>
			</div>
			
			<div id="email_button">
			</div>
		</div>
		<!--<footer>
			<div id="info">사업자명 (주식회사 프로그램스) 사업자번호 (211-88-66013) Copyright © 2014 by Frograms. Inc. All rights reserved</div>
		</footer>-->
	</div>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/show_more.js"></script>
	<script type="text/javascript" src="js/show_profile.js"></script>	
	<script type="text/javascript" src="js/search.js"></script>
</body>
</html>