<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <!-- <link rel ="stylesheet" type="text/css" href="reset.css"/> -->
    <link rel ="stylesheet" type="text/css" href="css/signup.css"/>
  </head>
<body>
	<div id="wrap">
		<div id="comment">
			<h1>너, 영화 좀 본다며?</h1>
			<h2>작년 이맘 때 본 그 영화 <p>어땠는지 기억할 수 있겠니?<!--못하겠어?--></p><p>그럼 잔말말고 드루와.</p></h2>
			<h3>이미 정을 나눈 동지면 <a href="/login">로그인은 이쪽</a></h3>
		</div>
	<div id="article">
		<form method="post" action="/signup">
			<div>
				<p class="textinput"><input type="email" name="email" size="20" maxlenght="50" placeholder="E-mail" size="30" type="email"></p>
				<p class="guide">너가 젤 좋아하는 이메일로</p>
			</div>
			<div>
				<p class="textinput"><input type="password" name="password" size="20" maxlenght="50" placeholder="Password" size="30" type="password"></p>
				<p class="guide">알파벳,숫자 혼합 6자리 이상은 기본 센스</p>
			</div>
			<p><input type="submit" name="" /></p>
		</form>
	</div>
	</div>
</body>
</html>