<% data.forEach(function (item,index) { %>
<li id="list<%= index %>" class="search_result">
    <a href="./evaluate_crew?id=<%= item.mID %>">
        <div><span class="search_title"><%= item.title %></span></div>
        <div><span class="search_year"><%= item.year %></span></div>
    </a>
</li>
<% }); %>

