/* font */
.text {
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	color: #6d6c83;
	letter-spacing: -1px;
	font-family: 'Apple SD Gothic Neo','나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',dotum,'굴림',gulim,applegothic,sans-serif;
}
.highlight {
	color: #5b5cb5;
}
#sidebar .text {
	font-size: 14px;
	line-height: 46px;
}
#goal {
	text-align: center;
	font-size: 18px;
	line-height: 40px;
}

/* bgcolor */
body {
	background-color: #e5e5e5;
}
#sidebar {
	background-color: #fff;
}
#progress {
	background-color: #5b5cb5;
}

/* override inherited property */
a {
	text-decoration: none;
}

/* positioning, including pbm */
@media (min-width: 1212px) {
	#top_container {
		max-width: 1212px;
	}
}
@media (min-width: 968px) and (max-width: 1211px) {
	#top_container {
		max-width: 968px;
	}
}
@media (min-width: 724px) and (max-width: 967px) {
	#top_container {
		max-width: 724px;
	}
}
@media (min-width: 480px) and (max-width: 723px) {
	#top_container {
		max-width: 480px;
	}
}
#top_container {
	min-width: 480px;
	margin: 0 auto;
}

#goal {
	position: relative;
	margin: 10px;
}
#progress_wrapper {
	border-bottom: 1px solid #C5C5C5;
}
#sidebar li {
	padding-left: 14px;
	border-bottom: 1px solid #EEEEEE;
}
#recent_goal {
	position: absolute;
	right: 0;
}

#sidebar {
	position: relative;
	float: left;
}
#card_container {
	position: relative;
	margin-left: 230px;
}
.card_wrapper {
	margin: 10px;
	width: 220px;
}
#card_container .card_wrapper {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}

/* round edge */
.card_wrapper {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/src/css/PIE.htc);
}
.card_wrapper img {
	display: block;
}

/* progress bar */
#progress_wrapper {
	height: 8px;
}
#progress {
	display: block;
	height: 100%;
}