a { text-decoration:none }

header {
	position: static;
	width: 100%;
	height : 100px;
	background-color: red;
}

.title a {
	color:#000;
	font-size:20px;
	font-weight:700;
}

.title {
	padding-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.title.oska {
  padding-top: 50px;
}

#award {
	position: relative;
	width: 100%;
	height : 530px;
	background-color: gray;
}

.award_width {
	float: left;
	height :480px;
	width: 50%;
	background-color: blue;
}

.director {
	float: left;
	width: 170px;
	height : 305px;
	background-color: white;
	margin: 20px;
  margin-top: 70px;

}

.job {
  margin-top: 20px;
  text-align: center;
}

.picture {
  margin-top: 40px;
  height: 150px;
  width: 150px;
  background-color: black;
  margin-left: 9px;
}

.name {
  padding-top: 20px;
  text-align: center;
}

.actor {
	float: left;
	width: 170px;
	height : 305px;
	background-color: white;
	margin: 20px;
  margin-top: 70px;
}

.scenario {
	float: left;
	width: 170px;
	height : 305px;
	background-color: white;
	margin: 20px;
  margin-top: 70px;
}

.award_height {
	float: right;
	height :480px;
	width: 50%;
	background-color: orange;
}

.job_height {
  margin-left: 20px;
  padding-top: 20px;
}

.visual {
	height: 142px;
	width: 600px;
	background-color: white;
	margin: 20px;
  margin-top: 70px;
}

.music {
	height: 142px;
	width: 600px;
	background-color: white;
	margin: 20px;
}


#top_movie {
	clear:both;
	position: relative;
	width: 100%;
	height : 570px;
	background-color: green;
}


.card_wrap {
  width: 275px;
  height: 394px;
  position: relative;
  margin: 10px;
  font-family: Apple SD Gothic Neo, '나눔고딕', Nanum Gothic, sans-serif;
  font-size: 12px;
  float: left;
  z-index: 0;
  margin-left: 30px;
  margin-top: 30px;
}

.card_wrap.hover > .poster_container > .hover_container {
  opacity: 1;
}

.hover_container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}
.hover_container .black_bg {
  background-color: #000000;
  width: 100%;
  height: 100%;
  opacity: 0.60;
}

.btn {
	margin: 0 auto;
	height: 40px;
	width: 170px;
	color: #FFF;
	border: 1px solid;
	font-size: 1.4em;
	line-height: 2.5em;
}



.top_gradation {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 180px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
}
.card_shadow {
  display: inline;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 1px;
  top: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  background-color: #525252;
  opacity: 0.2;
}
.poster_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  position: relative;
  max-width: inherit;
}
.poster{
	width : 100%;
	height: 100%;
}


#log {
	position: relative;
	width: 100%;
	height : 500px;
	background-color: yellow;
}

.log_container {
	margin-left: 30px;
	width: 95%;
	height: 80%; 
	background-color: white;
}

table#mylog {
    width: 100%;    
    background-color: #f1f1c1;
    text-align: center;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}