/* font */
.text {
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	color: #6d6c83;
	letter-spacing: -1px;
	font-family: 'Apple SD Gothic Neo','나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',dotum,'굴림',gulim,applegothic,sans-serif;
}
.reason {
	color: #555;
}
.reason a {
	color: #000;
	font-weight: bold;
}

/* bgcolor */
body {
	background-color: #e5e5e5;
}
.reason {
	background-color: #f9f8f4;
}

/* override inherited property */
a {
	text-decoration: none;
}



#card_container {
	position: relative;
}
.card_wrapper {
	margin: 10px;
	width: 220px;
}
#card_container .card_wrapper {
	/* 	outline: 1px solid blue !important; */
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}

/* round edge */
.card_wrapper {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(./PIE.htc);
}
.card_wrapper .poster_img {
	display: block;
}



/* positioning, including pbm */

@media (min-width: 1216px) {
	#top_container {
		max-width: 1216px;
	}
}
@media (min-width: 972px) and (max-width: 1215px) {
	#top_container {
		max-width: 972px;
	}
}
@media (min-width: 728px) and (max-width: 961px) {
	#top_container {
		max-width: 728px;
	}
}
@media (min-width: 484px) and (max-width: 727px) {
	#top_container {
		max-width: 484px;
	}
}

#top_container {
	/* 	outline: 1px solid red !important; */
	min-width: 480px;
	margin: 0 auto;
}



.filter_container li, .selected_filter_container li {
	display: inline;
}

.card_wrapper div {
	margin: 0;
}

.poster_wrapper {
	position: relative;
}

.expected_star {
	position: absolute;
	top: 0;
	left: 0;
	padding: 7px 15px;
}

.card_wrapper {
	margin: 10px;
	max-width: 220px;
}

.first {
	margin-left: auto;
}

.last {
	margin-right: auto;
}

.empty {
	width: 220px;
}

.no_result {
	text-align: center;
}